@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 224 50% 98%;
  --foreground: 224 71.5% 2%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 224 50% 98%;
    --foreground: 224 71.5% 2%;
  }
}

body {
  color: var(--foreground);
  --background: 224 50% 98%;
  font-family: Arial, Helvetica, sans-serif;
}
